/* Button */
.buttonWrapper {
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-gap: calc(var(--spacing-24) - var(--spacing-4));
}

/* Basic-Color */
.colorsGridWrapper {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: var(--spacing-24);
}

.colorsGridBox {
  min-height: 50px;
}

/* Flag Icons */
.AKFlagCardWrapper {
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 12px;
}

.AKFlagImgWrapper {
  background-color: var(--owl);
  border-radius: 8px;
  height: 150px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.AKFlagImgCard {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

/* General Icons */
.AKIconWrapper {
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.AKIConCard {
  background-color: var(--owl);
  height: 100px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.AKIConCard:hover {
  background-color: rgba(var(--kingfisher-rgb), 0.15);
}

.AKIcon {
  color: var(--text-color);
  width: 40px;
  height: 40px;
  transform: scale(1);
  transition: 0.3s all;
}

.AKIConCard:hover .AKIcon {
  transform: scale(1.2);
  color: var(--tertiary-shades-80);
}

.AKIcon svg {
  width: inherit;
  height: inherit;
}