/* Button */
.buttonWrapper {
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-gap: calc(var(--spacing-xl) - var(--spacing-xs));
}

/* Basic-Color */
.colorsGridWrapper {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: var(--spacing-xl);
}

.colorsGridBox {
  min-height: 50px;
}

/* Flag Icons */
.HQFlagCardWrapper {
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 12px;
}

.HQFlagImgWrapper {
  background-color: var(--owl);
  border-radius: 8px;
  height: 150px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.HQFlagImgCard {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

/* General Icons */
.HQIconWrapper {
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}

.HQIConCard {
  background-color: var(--white);
  height: 100px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  transition: var(--transition-all);
}

.HQIConCard:hover {
  background-color: var(--white-shades-20);
}

.HQIcon {
  color: var(--text-color);
  width: 40px;
  height: 40px;
  transform: scale(1);
  transition: 0.3s all;
}

.HQIConCard:hover .HQIcon {
  transform: scale(1.2);
  color: var(--tertiary-shades-80);
}

.HQIcon svg {
  width: inherit;
  height: inherit;
}

/* Progress Bar */
.cardBodyClass {
  overflow: hidden;
}

.progressBarBasic {
  grid-template-columns: repeat(auto-fill, minmax(41rem, 1fr));
  grid-gap: var(--spacing-lg);
}

/* Accordion */
.HQAccordionCardWrapper {
  grid-gap: 20px;
}

/* Popoav */
.AKPopoverCardWrapper {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
}

.AKPopoverButton:global.ant-btn {
  background: var(--kingfisher);
  border-color: var(--kingfisher);
  color: var(--title-color);
}

.AKPopoverButton:global.ant-btn.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  background: transparent;
  border-color: var(--kingfisher);
  color: var(--kingfisher);
}

/* tollTip */
.AKTooltipCardWrapper {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
}