.card {
    border: 1px solid;
    border-color: transparent;
    border-radius: 3rem;
    padding: 7px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.removeCardSpacing {
    padding: 0;
}

.removeCardSpacing .cardHeader {
    padding: 15px 18px 0 18px;
}

.HQCardTitle {
    color: var(--title-color);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: var(--font-lg);
    text-transform: capitalize;
}

.cardBody {
    overflow-y: auto;
    padding: 4px;
    overflow-x: hidden;
}

.cardHeader {
    margin-bottom: 16px;
    flex-shrink: 1;
}

.cardExtraContent {
    color: var(--white);
}

.cardExtraContent svg,
.cardExtraContent img {
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    cursor: pointer;
    position: relative;
}