.AKSidebar:global.ant-layout-sider .ant-menu-item-group-title {
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1px;
  color: red;
}

.AKSidebar:global.ant-layout-sider.ant-layout-sider-collapsed .ant-menu-item-group-title {
  text-align: center;
}

.AKSidebar:global.ant-layout-sider .ant-menu-title-content {
  font-size: 15px;
}

.AKSidebar:global.ant-layout-sider .ant-menu-item-icon,
.AKSidebar:global.ant-layout-sider .ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-item .ant-menu-item-icon,
.AKSidebar:global.ant-layout-sider .ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-submenu>.ant-menu-submenu-title .ant-menu-item-icon {
  font-size: 18px;
}

.AKSidebar:global.ant-layout-sider::-webkit-scrollbar {
  display: none;
}

.AKSidebar:global.ant-layout-sider {
  background-color: var(--secondary);
  position: relative;
  transition: var(--transition-all);
}

.AKSidebarLogo {
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  margin: auto;
  color: var(--kingfisher);
}

.AKSidebarLogoWrapper {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--secondary);
  z-index: 99;
}

.AKSidebarMenu {
  background-color: var(--secondary);
}

.AKSidebarMenu:global.ant-menu-light .ant-menu-item {
  border: 1px solid;
  border-color: transparent;
}

.AKSidebarMenu:global.ant-menu.ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title,
.AKSidebarMenu:global.ant-menu.ant-menu-light .ant-menu-item-selected {
  color: var(--white);
  border-color: var(--kingfisher);
  background: var(--kingfisher);
}

.AKSidebarMenu:global.ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover,
.AKSidebarMenu:global.ant-menu-light>.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover,
.AKSidebarMenu:global.ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected)>.ant-menu-submenu-title:hover,
.AKSidebarMenu:global.ant-menu-light>.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected)>.ant-menu-submenu-title:hover {
  color: white;
  background: var(--kingfisher);
}

.AKSidebarMenu:global.ant-menu.ant-menu-light .ant-menu-sub.ant-menu-inline {
  background: rgba(0, 0, 0, 0.05);
}

.AKSidebar:global.ant-layout-sider .ant-layout-sider-trigger {
  background-color: var(--secondary);
  height: var(--sidebar-trigger-height);
  transition: var(--transition-all);
}

.AKSidebarMenu:global.ant-menu .ant-menu-submenu-title {
  color: var(--pelican);
}

.AKSidebarMenu:global.ant-menu .ant-menu-item {
  color: var(--secondary-title-text);
}