.HQSidebar:global.ant-layout-sider .ant-menu-item-group-title {
  font-size: var(--font-xs);
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--primary-shades-60);
}

.HQSidebar:global.ant-layout-sider.ant-layout-sider-collapsed .ant-menu-item-group-title {
  text-align: center;
}

.HQSidebar:global.ant-layout-sider .ant-menu-title-content {
  font-size: var(--font-sm);
  font-weight: 600;
}

.HQSidebar:global.ant-layout-sider .ant-menu-item-icon,
.HQSidebar:global.ant-layout-sider .ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-item .ant-menu-item-icon,
.HQSidebar:global.ant-layout-sider .ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-submenu>.ant-menu-submenu-title .ant-menu-item-icon {
  font-size: var(--font-md);
}

.HQSidebar:global.ant-layout-sider::-webkit-scrollbar {
  display: none;
}

.HQSidebar:global.ant-layout-sider {
  background-color: var(--secondary);
  position: relative;
  transition: var(--transition-all);
}

.HQSidebarLogo {
  display: flex;
  padding: var(--spacing-md);
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  margin: auto;
  color: var(--primary);
}

.HQSidebarLogoWrapper {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--secondary);
  z-index: 99;
}

.HQSidebarMenu {
  background-color: var(--secondary);
}

.HQSidebarMenu:global.ant-menu-light .ant-menu-item {
  border: 1px solid;
  border-color: transparent;
}

.HQSidebarMenu:global.ant-menu.ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title,
.HQSidebarMenu:global.ant-menu.ant-menu-light .ant-menu-item-selected {
  color: var(--white);
  border-color: var(--primary);
  background: var(--primary);
}

.HQSidebarMenu:global.ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover,
.HQSidebarMenu:global.ant-menu-light>.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover,
.HQSidebarMenu:global.ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected)>.ant-menu-submenu-title:hover,
.HQSidebarMenu:global.ant-menu-light>.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected)>.ant-menu-submenu-title:hover {
  color: white;
  background: var(--primary);
}

.HQSidebarMenu:global.ant-menu.ant-menu-light .ant-menu-sub.ant-menu-inline {
  background: rgba(0, 0, 0, 0.05);
}

.HQSidebar:global.ant-layout-sider .ant-layout-sider-trigger {
  background-color: var(--secondary);
  height: var(--sidebar-trigger-height);
  transition: var(--transition-all);
}

.HQSidebarMenu:global.ant-menu .ant-menu-submenu-title {
  color: var(--pelican);
}

.HQSidebarMenu:global.ant-menu .ant-menu-item {
  color: var(--secondary-title-text);
}

.HQSidebar :global .ant-menu-vertical .ant-menu-item {
  margin-inline: unset;
  width: 100%;
  display: flex;
  align-items: center;
}

.HQSidebar :global .ant-menu-vertical .ant-menu-item svg {
  flex: 0 0 auto;
}

html[data-sidebar-show=false] .HQSidebarToggled.HQSidebar:global.ant-layout-sider {
  transform: translate(-100%, 0);
  min-height: inherit;
}

html[data-sidebar-show=true] .HQSidebarToggled.HQSidebar:global.ant-layout-sider {
  min-height: 100vh;
}