/* Custom Icon Accordion */
.HQAccordion:global.custom-icon-accordion.ant-collapse .ant-collapse-item.ant-collapse-item-active>.ant-collapse-header {
  align-items: center;
}

.HQAccordion:global.custom-icon-accordion.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-expand-icon {
  width: 150px;
}

.HQAccordion:global.custom-icon-accordion.ant-collapse.ant-collapse-icon-position-end>.ant-collapse-item>.ant-collapse-header .ant-collapse-expand-icon {
  padding-inline-start: 0;
  margin-inline-start: 12px;
}

.HQAccordion:global.custom-icon-accordion.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow {
  width: 100%;
  height: 100%;
}

.HQAccordion:global.custom-icon-accordion.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow svg {
  width: 100%;
  height: 100%;
}