.progress:global.ant-progress .ant-progress-bg {
    background-color: var(--quaternary);
}

.progress:global.ant-progress.ant-progress-status-exception .ant-progress-bg {
    background-color: var(--primary);
}

.progress:global.ant-progress.ant-progress-status-success .ant-progress-bg {
    background-color: var(--tertiary);
}

.progress:global.ant-progress.ant-progress-line .ant-progress-inner {
    background-color: var(--white-shades-20);
}

.progress:global.ant-progress .ant-progress-text {
    color: var(--title-color)
}

.progress:global.ant-progress.ant-progress-status-success .ant-progress-text {
    color: var(--tertiary);
}

.progress:global.ant-progress.ant-progress-status-exception .ant-progress-text {
    color: var(--primary);
}