.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-item-icon,
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-item-icon .ant-steps-icon-dot {
    background-color: var(--hen);
    border-color: var(--hen);
}
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-icon{
    font-weight: 700;
    font-size: 18px;
    top: 0;
    line-height: 0;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-item .ant-steps-item-title{
     font-weight: 700;
     font-size: 18px;
     color: var(--hen);
}
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-item .ant-steps-item-title::after,
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-item .ant-steps-item-tail::after{
    background-color: var(--hen);
}
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-icon .anticon svg{
    width: 20px;
    height: 20px;
}
/* active */
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-item-active .ant-steps-item-icon,
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-item-active .ant-steps-icon-dot {
    background-color: var(--title-color);
    border-color: var(--title-color);
}
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-item-active .ant-steps-icon{
    color: var(--kingfisher);
}
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-item-active .ant-steps-item-title{
    color: var(--title-color);
}
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-item-active .ant-steps-item-title::after,
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-item-active .ant-steps-item-tail::after{
    background-color: var(--title-color);
}
/* finish */
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-item-finish .ant-steps-item-icon,
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-item-finish .ant-steps-icon-dot,
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-item.ant-steps-item-wait .ant-steps-item-container:hover .ant-steps-item-icon {
    background-color: var(--kingfisher);
    border-color: var(--kingfisher);
}
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-item-finish .ant-steps-icon,
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-item.ant-steps-item-wait .ant-steps-item-container:hover .ant-steps-item-icon .ant-steps-icon{
    color: var(--white);
}
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-item-finish .ant-steps-item-title{
    color: var(--kingfisher);
}
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-item-finish .ant-steps-item-title::after,
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-item-finish .ant-steps-item-tail::after{
    background-color: var(--kingfisher);
}
/*  */
.stepFormCardWrap .stepHead:global.ant-steps.ant-steps-small .ant-steps-item .ant-steps-item-title,
.stepFormCardWrap .stepHead:global.ant-steps.ant-steps-small .ant-steps-item .ant-steps-icon{
    font-size: 14px;
}
.stepFormCardWrap .stepHead:global.ant-steps.ant-steps-small .ant-steps-icon .anticon svg{
    width: 14px;
    height: 14px;
}
.stepFormCardWrap .stepHead:global.ant-steps-vertical .ant-steps-item-container{
    padding-bottom: 20px;
}
.stepFormCardWrap .stepHead:global.ant-steps .ant-steps-item .ant-steps-item-container:hover .ant-steps-item-title{
    color: var(--kingfisher);
}