.HQInput:global.ant-input,
.HQInput:global.ant-input-affix-wrapper {
  border-color: #B7B7B7;
  border-width: 1px;
  background-color: transparent;
  color: var(--black);
  padding: calc(var(--spacing-sm) * 3 - var(--spacing-xs));
  border-radius: 5px;
  min-height: 6rem;
}

.HQInputLabel {
  color: var(--gray);
  background: var(--white);
  top: -10px;
  left: 15px;
  z-index: 2;
  padding: var(--spacing-xs);
}

.HQInput:global.ant-input::placeholder {
  color: #B7B7B7;
}