.HQInput:global.ant-input,
.HQInput:global.ant-input-affix-wrapper {
  border-color: #B7B7B7;
  border-width: 1px;
  background-color: transparent;
  color: var(--black);
  padding: calc(var(--spacing-sm) * 3 - var(--spacing-xs));
  border-radius: 5px;
  min-height: 6rem;
}

.HQInputLabel {
  color: var(--gray);
  background: var(--white);
  top: -10px;
  left: 15px;
  z-index: 2;
  padding: var(--spacing-xs);
}

.HQInput:global.ant-input::placeholder {
  color: #B7B7B7;
}

.HQInputFile {
  --p-t: calc(var(--spacing-xs) * 2);
  --p-b: calc(var(--spacing-xs) * 2);
  --p-s: calc(var(--spacing-xl) * 2.5);
  --p-e: calc(var(--spacing-xl) * 2.5);
  --button-active: var(--primary-shades-100);
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  line-height: 194.444%;
  font-size: var(--h6-size);
  padding: var(--p-t) var(--p-e) var(--p-b) var(--p-s);
  border: solid 2px var(--button-border-color, var(--primary-shades-80));
  background-color: var(--button-bg-color, transparent);
  color: var(--button-text-color, var(--primary-shades-80));
  transition: var(--transition-all);
  z-index: 0;
  overflow: hidden;
  min-height: 4rem;
  width: fit-content;
}

/* Active Button Effect */
.HQInputFile::after {
  content: '';
  background-color: var(--button-active);
  width: 0;
  height: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transition: all 0.2s linear;
  color: white;
}

/* Block Button Active Effect */
.HQInputFile:disabled:active::after {
  width: 0;
  height: 0;
}

.HQInputFile:active::after {
  width: 500px;
  height: 500px;
}

.HQInputFile:hover,
.HQInputFile:active {
  background: var(--button-active);
  --button-text-color: var(--white);
}