/* Globals CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

html {
  font-size: var(--html);
}

body {
  font-size: var(--font-xs);
  font-family: var(--primary-font);
  font-weight: 500;
  margin: 0;
}

main {
  padding: var(--spacing-lg) var(--spacing-sm);
  height: 100%;
}

/* Font Start */
.h1,
h1 {
  font-size: var(--font-4xl);
}

.h2,
h2 {
  font-size: var(--font-3xl);
}

.h3,
h3 {
  font-size: var(--font-2xl);
}

.h4,
h4 {
  font-size: var(--font-xl);
}

.h5,
h5 {
  font-size: var(--font-lg);
}

.h6,
h6 {
  font-size: var(--font-md);
}

.p.big,
p.bif {
  font-size: var(--font-sm);
}

.p,
p {
  font-size: var(--font-xs);
}

.p.small,
p.small {
  font-size: var(--font-xxs);
}

/* Font WEIGHTS */
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

/* Text Color */
.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-tertiary {
  color: var(--tertiary);
}

.text-quaternary {
  color: var(--quaternary);
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-gray {
  color: var(--gray);
}

/* Background Color */
.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.bg-quaternary {
  background-color: var(--quaternary);
}

.bg-white {
  background-color: var(--white);
}

.bg-black {
  background-color: var(--black);
}

.bg-gray {
  background-color: var(--gray);
}

/* Text Transform */
.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

/* Rotation */
.deg-0 {
  rotate: 0deg;
}

.deg-90 {
  rotate: 90deg;
}

.deg-180 {
  rotate: 180deg;
}

/* Transition */
.transition-all {
  transition: var(--transition-all);
}


/* Componates */
.ant-tooltip {
  color: var(--title-color);
  --antd-arrow-background-color: var(--kingfisher);
}

.ant-tooltip .ant-tooltip-inner {
  background-color: var(--antd-arrow-background-color);
}