
:root {
  --primary-font: "Public Sans", Arial, sans-serif, system-ui, -apple-system;

  /* Header Height */
  --header-height: 100px;

  /* Colors */
  --primary: #E50025;
  --secondary: #CCC6BE;
  --tertiary: #33BB47;
  --quaternary: #F99600;
  --white: #ffffff;
  --black: #000000;
  --gray: #666666;

  /* Colors Shades */
  --primary-shades-100: #D60023;
  --primary-shades-80: #E81335;
  --primary-shades-60: #ED3856;
  --primary-shades-40: #F47188;
  --primary-shades-20: #FCA9B9;

  --quaternary-shades-80: #FAA21D;
  --quaternary-shades-60: #FBAE3B;
  --quaternary-shades-40: #FDC575;
  --quaternary-shades-20: #FED193;

  --tertiary-shades-80: #33BB47;
  --tertiary-shades-60: #63D272;
  --tertiary-shades-40: #92E89E;
  --tertiary-shades-20: #C2FFC9;

  --white-shades-80: #D9D9D9;
  --white-shades-60: #C0C0C0;
  --white-shades-40: #C8C8C8;
  --white-shades-20: #D9D9D9;

  --black-shades-80: #161616;
  --black-shades-60: #2C2C2C;
  --black-shades-40: #585858;
  --black-shades-20: #848484;

  --gray-shades-80: #666666;
  --gray-shades-60: #919191;
  --gray-shades-40: #BBBBBB;
  --gray-shades-20: #CCCCCC;

  /* Fonts Size */
  --html: 10px;
  --font-4xl: 6.8rem;
  --font-3xl: 4.2rem;
  --font-2xl: 26px;
  --font-xl: 22px;
  --font-lg: 20px;
  --font-md: 18px;
  --font-sm: 16px;
  --font-xs: 14px;
  --font-xxs: 12px;

  /* Spacing Size */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 24px;
  --spacing-2xl: 3.2rem;
  --spacing-3xl: 4.8rem;

  /* Sidebar Width */
  --sidebar-width: 250px;
  --sidebar-width-collapsed: 80px;
  --sidebar-trigger-height: 48px;

  /* Section Spacing */
  --section-spacing: 12rem;
  --section-spacing-small: 6rem;

  /* Transitions */
  --transition-all: all .3s linear;
}