.HQSwitch:global.ant-switch {
  background: var(--text-color);
}

.HQSwitch:global.ant-switch:hover:not(.ant-switch-disabled) {
  background: var(--text-color);
}

.HQSwitch:global.ant-switch.ant-switch-checked {
  background: var(--kingfisher);
}

.HQSwitch:global.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background: var(--kingfisher);
}