.HQOffCanvasCardWrapper {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
}

@media (max-width:991px) {
  .HQOffCanvasCardWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:767px) {
  .HQOffCanvasCardWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}