.button {
  --min-w-h: 6rem;
  --p-t: calc(var(--spacing-xs) * 5);
  --p-b: calc(var(--spacing-xs) * 5);
  --p-s: calc(var(--spacing-xl) * 3);
  --p-e: calc(var(--spacing-xl) * 3);
  --button-bg-color: var(--secondary);
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  line-height: 194.444%;
  font-size: var(--font-sm);
  padding: var(--p-t) var(--p-e) var(--p-b) var(--p-s);
  border: solid 2px var(--button-border-color, var(--secondary));
  background-color: var(--button-bg-color, transparent);
  color: var(--button-text-color, var(--white));
  transition: var(--transition-all);
  z-index: 0;
  overflow: hidden;
  min-height: var(--min-w-h);
  width: fit-content;
  min-width: 15rem;
}

/* Active Button Effect */
.button::after {
  content: '';
  background-color: var(--btn-active);
  width: 0;
  height: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transition: all 0.2s linear;
  color: white;
}

/* Block Button Active Effect */
.button:active::after:global.ant-btn.ant-btn-block {
  width: 110%;
  height: 500px;
}

.button:disabled:active::after {
  width: 0;
  height: 0;
}

.button:active::after {
  width: 500px;
  height: 500px;
}

/* Default Type */
.button:global.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: var(--white);
  border-color: var(--exotic-lilac);
  background-color: var(--exotic-lilac);
}

.button:global.ant-btn-default:disabled {
  background-color: var(--exotic-lilac);
  border-color: var(--exotic-lilac);
  color: var(--quaternary);
}

/* Primary */
.button:global.ant-btn-primary {
  --button-bg-color: transparent;
  --button-text-color: var(--secondary);
}

.button:global.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  color: var(--white);
  border-color: var(--exotic-lilac);
  background-color: var(--exotic-lilac);
}

.button:global.ant-btn-primary:disabled {
  background-color: var(--exotic-lilac);
  border-color: var(--exotic-lilac);
  color: var(--quaternary);
}

/* Lg button Size */
.button:global.ant-btn-lg {
  --p-t: calc(var(--spacing-xs) * 5);
  --p-b: calc(var(--spacing-xs) * 5);
  --p-s: calc(var(--spacing-xl) * 5);
  --p-e: calc(var(--spacing-xl) * 5);
}

/* Circle */
.button:global.ant-btn.ant-btn-circle.ant-btn {
  min-width: var(--min-w-h);
}

/* Rounded Button */