.button {
  --p-t: calc(var(--spacing-xs) * 5);
  --p-b: calc(var(--spacing-xs) * 5);
  --p-s: calc(var(--spacing-xl) * 3);
  --p-e: calc(var(--spacing-xl) * 3);
  --button-active: var(--primary-shades-100);
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  line-height: 194.444%;
  font-size: var(--h6-size);
  padding: var(--p-t) var(--p-e) var(--p-b) var(--p-s);
  border: solid 2px var(--button-border-color, var(--primary-shades-80));
  background-color: var(--button-bg-color, transparent);
  color: var(--button-text-color, var(--primary-shades-80));
  transition: var(--transition-all);
  z-index: 0;
  overflow: hidden;
  min-height: 6rem;
  width: fit-content;
}

/* Active Button Effect */
.button::after {
  content: '';
  background-color: var(--button-active);
  width: 0;
  height: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transition: all 0.2s linear;
  color: white;
}

/* Block Button Active Effect */
.button:active::after:global.ant-btn.ant-btn-block {
  width: 110%;
  height: 500px;
}

.button:disabled:active::after {
  width: 0;
  height: 0;
}

.button:active::after {
  width: 500px;
  height: 500px;
}

/* Default Type */
.button:global.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: var(--white);
  border-color: var(--primary-shades-80);
  background-color: var(--primary-shades-80);
}

.button:global.ant-btn-default:disabled {
  background-color: var(--primary-shades-20);
  border-color: var(--primary-shades-20);
  color: var(--black-shades-20);
}

/* primary Primary */
.button:global.ant-btn-primary {
  --button-bg-color: var(--quaternary);
  --button-border-color: var(--quaternary);
  --button-text-color: var(--white);
  --button-active: var(--quaternary);
}

.button:global.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: var(--quaternary-shades-60);
  border-color: var(--quaternary-shades-60);
}

.button:global.ant-btn-primary:disabled {
  background-color: var(--quaternary-shades-20);
  border-color: var(--quaternary-shades-20);
  color: var(--black-shades-20);
}

/* Lg button Size */
.button:global.ant-btn-lg {
  --p-t: calc(var(--spacing-xs) * 5);
  --p-b: calc(var(--spacing-xs) * 5);
  --p-s: calc(var(--spacing-xl) * 5);
  --p-e: calc(var(--spacing-xl) * 5);
}