.HQRangePicker:global.ant-picker-outlined {
  padding: 6px 12px;
  background: transparent;
  border-color: var(--text-color);
  color: var(--title-color);
  border-radius: 6px;
  min-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HQRangePicker:global.ant-picker-outlined:focus,
.HQRangePicker:global.ant-picker-outlined:focus-within,
.HQRangePicker:global.ant-picker-outlined:hover {
  border-color: var(--kingfisher);
  box-shadow: unset;
}

.HQRangePicker:global.ant-picker-outlined .ant-picker-input input::placeholder,
.HQRangePicker:global.ant-picker-outlined .ant-picker-separator,
.HQRangePicker:global.ant-picker .ant-picker-clear,
.HQRangePicker:global.ant-picker-outlined .ant-picker-status-error:not(.ant-picker-disabled) .ant-picker-prefix,
.HQRangePicker:global.ant-picker-status-error:not(.ant-picker-disabled) .ant-picker-suffix,
.HQRangePicker:global.ant-picker .ant-picker-suffix {
  color: var(--text-color);
}

.HQRangePicker:global.ant-picker-outlined.ant-picker-status-error:not(.ant-picker-disabled) {
  background: transparent;
}

.HQRangePicker:global.ant-picker-outlined.ant-picker-status-error:not(.ant-picker-disabled):hover {
  border-color: var(--clr-red);
}

.HQRangePicker:global.ant-picker-range .ant-picker-active-bar {
  background: var(--kingfisher);
}

.HQRangePickerLabel {
  color: var(--title-color);
  margin-bottom: 4px;
  display: block;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 15px;
}