:global .ak-counter-reset-btn.ant-btn-fill.ant-btn {
  background: var(--text-color);
  border-color: var(--text-color);
}

:global .ak-counter-reset-btn.ant-btn-fill.ant-btn:hover {
  box-shadow: var(--text-color) 0px 0px 20px;
}

.AKCounterValue {
  font-size: 32px;
  color: var(--title-color);
}