.AKFlagCardWrapper {
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 12px;
}

.AKFlagImgWrapper {
  background-color: var(--owl);
  border-radius: 8px;
  height: 150px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.AKFlagImgCard {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}